<form method="GET" action='{% url "search:query" %}' class="form search-form my-2 my-lg-0">
    <div class="input-group">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" name="q" aria-label="Search" value='{{ request.GET.q }}'>
        <span class="input-group-btn">
            <button class="btn-outline-success" type="submit">Search<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mx-3">
            <circle cx="10.5" cy="10.5" r="7.5"></circle><line x1="21" y1="21" x2="15.8" y2="15.8"></line></svg></button>
        </span>
    </div>
</form>