<form method="POST" action='{% url "cart:update" %}' data-endpoint='{% url "cart:update" %}' class="form form-product-ajax mb-0"> {% csrf_token %}
    <input type="hidden" name="product_id" value={{ product.id}} />
    <span class="submit-span">
    {% if product in cart.products.all %}
        In cart <button type="submit" class="btn btn-sm btn-outline-secondary">Remove?</button>
    {% else %}
        <button type="submit" class="btn btn-sm btn-outline-primary">Add to Cart</button>
    {% endif %}
    </span>
</form>